<form [formGroup]="formularioEquipos" (ngSubmit)="guardarEquipo()" novalidate>
<div>
  <label>Nombre</label>
  <input type="text" id="nombre" formControlName="nombre">
</div>
<div>
  <label>Ciudad</label>
  <input type="text" id="ciudad" formControlName="ciudad">
</div>
<div>
  <label>Año Fundación</label>
  <input type="number" id="fundacion" formControlName="fundacion">
</div>
<div>
  <label>Socios</label>
  <input type="number" id="socios" formControlName="socios">
</div>
<div>
  <label>Peñas</label>
  <input type="number" id="penas" formControlName="penas">
</div>
<div>
  <label>Imagen</label>
  <input type="text" id="imagen" formControlName="imagen">
</div>
<div>
  <img height="32px" [src]="formularioEquipos.controls.imagen.value">
</div>
<div>
  <button [disabled]="formularioEquipos.invalid" type="submit">Guardar</button>
</div>
</form>

<div *ngIf="equipos.length > 0">
  <label>Buscar Equipo </label>
  <input [(ngModel)]="equipoBuscar">
</div>

<div *ngIf="equipos.length > 0">
  <ul>
    <li 
      *ngFor="let e of equipos | buscador: equipoBuscar"
      [ngClass]="modificarEstilos(e)"
      (click)="mostrarInfoEquipo(e)">
        <img src="{{e.imagen}}" height="16px"> {{e.nombre}}
    </li>
  </ul>
</div>

<div *ngIf="equipos.length == 0">
  <h4>No hay equipos</h4>
</div>

<div *ngIf="equipoSeleccionado">
  <p>Nombre:{{equipoSeleccionado.nombre}}</p>
  <p>Ciudad:{{equipoSeleccionado.ciudad}}</p>
  <p>Año Fundacion:{{equipoSeleccionado.fundacion}}</p>
  <p>Socios:{{equipoSeleccionado.numSocios}}</p>
  <p>Peñas:{{equipoSeleccionado.numPenas}}</p>
</div>